header {
  background: #4ecd53;
  padding: 20px;
}

header h1 {
  color: white;
}

header h1 .imie {
  color: black;
}

.gallery {
  background: rgb(255, 255, 139);
}

.gallery img {
  background: red;
  margin: 10px;
}

@media (min-width: 500px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery img {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  .gallery img {
    width: 320px;
  }
}

footer {
  background: rgb(175, 175, 227);
  padding: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
